@font-face {
  font-family: 'couturebold';
  src: url('./couture-bld-webfont.woff2') format('woff2'),
       url('./couture-bld-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'couturebold_italic';
  src: url('./couture-bldit-webfont.woff2') format('woff2'),
       url('./couture-bldit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('./caviardreams-webfont.woff2') format('woff2'),
       url('./caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('./caviardreams_bold-webfont.woff2') format('woff2'),
       url('./caviardreams_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'caviar_dreamsbold_italic';
  src: url('./caviardreams_bolditalic-webfont.woff2') format('woff2'),
       url('./caviardreams_bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
    border: none;
   padding: none;
   margin: none;
}
body h1{
  font-family: 'couturebold';
 }
 body h2{
  font-family: 'caviardreamsbold';
 }
 body p{
  font-family: 'caviardreams';
 }
 body button{
  font-family: 'couturebold';
 }
  body li{
    font-family: 'couturebold';
  }

.navbar{
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 30;
    background-color: black;
    opacity: 0.8;
    align-items: center;
    top: 0;
    left: 0;
  
  }
  .navbar .logo{
    height: 80px;
    width: 130px;
    position: absolute;
    top: 20px;
    left: 5%;
  }
  
  .navbar .nav-links ul{
    display: flex;
    color: white;
    z-index: 31;
    right: 0;
    position: absolute;
    top: 10%;
  
  }
  .navbar .nav-links ul li{
    margin: 10px 15px;
    list-style: none;
  
  }
    .navbar .nav-links ul a{
      color: white;
      text-decoration: none;
    }
  .navbar .menu-hamburger{
    display: none;
    width: 35px;
    position: fixed;
    right: 30px;
  
  }
  
  @media screen and (max-width:922px) {
    .navbar{
      padding: 0;
      
    }
    .nav-links{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.774);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
   align-items: center;
   margin-left: -100%;
   transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
      margin-left: 0;
    }
    .nav-links ul {
      display: flex;
    flex-direction: column;
    align-items: center;
    left: -10%;
    bottom: 20%;
    }
    .navbar .menu-hamburger{
      display: flex;
      position: fixed;
      right: 10;
      margin-top: 5%;
     
  
      
    }
    .navbar .nav-links ul li{
      margin: 15px 0px;
    }
    .navbar .logo{
      display: none;
    }
    .container{
        opacity: 0;
    }
    .aboutus .carre{
      position: relative;
      display: flex;
      left: -22%;
    }
    .aboutus .carre .text .carroussel img{
      width: 30%;
      height: 20%;
    }
    #hover2{
      display: none;
    }
    .img1{
      opacity: 0;
    }
    .img2{
      opacity: 0;
    }
    .img3{
      opacity: 0;
    }
    .img4{
      opacity: 0;
    }
    .container2 .carreblanc{
      width: 50%;
      left: 28%;
      
    }
    .aboutus .carre .text h1{
      font-size: 3.3vw;
    }
    .aboutus .carre .text p{
      font-size: 1.5vw;
    }
    .aboutus .carre .text h2{
      font-size: 2.3vw;
    }
    .container2 .carreblanc h1{
      font-size: 3.3vw;
    }
    .container2 .carreblanc p{
      font-size: 2.4vw;
    }
    
  }


  .containerbutton .booking{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
  
  
  }
  



  .container1{
    position: relative;
   
    width: 100%;
    height: 100vh;
   display: flex;
   padding-right: 18.49px;
   top: -10px;
   left: -10px;
   background-image: url(./img/cyberstudio.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
  }
  p{
    z-index: 100;
    position: relative;
  }
  .aboutus{
   position: relative;
        background-color: #222b79;
      background-image: linear-gradient(90deg, #222b79 0%, #a352da 52%, #5f0918 100%);
      height: 100vh;
      width: 100%;
      display: flex;
      top: -10px;
   left: -10px;
   padding-right: 18.49px;     
  }
  .container{
    position: relative;
    display: flex;
    top: 10%;
    left: 10%;
    z-index: 1;
    width: 200%;
    height: 80%;  
   background-image: url(./img/aboutusbground.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
  }
  .carre{
    position: relative;
    display: flex;
    top: 10%;
    right: 10%;
    z-index: 2;
    width: 200%;
    height: 80%;
    background-color: rgb(255, 255, 255,0.8);
  
  }
  .text{
    margin-left: 6%;
    padding-top: 0.5%;
    margin-right: 6%;
  
    
    }
    
    .text h1{
    font-size: 2.5vw;
   font-family: 'couturebold';
    
    }
    .text h2{
    font-size: 1.7vw;
    }
    .text p{
    color: black;
    font-weight: 200;
    font-size: 1.3vw;
    
    width: 100%;
    
    
    
    }
    .separator{
    display: inline-block;
      height: 2px;
      width: 50px;
      margin-bottom: 3px;
      position: relative;
      background-color: black;
    }
    .carroussel{
        display: flex;
        justify-content: space-around;
        
        
        position: relative;
        z-index: 5;
        top: 5%;
        
        
        }
        .carroussel img{
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
       height: 15%;
       width: 20%;
        }
      
        #hover1:hover{
        filter: none;
          -webkit-filter: grayscale(0);
        }
        #hover2:hover{
        filter: none;
          -webkit-filter: grayscale(0);
        }
        #hover3:hover{
        filter: none;
          -webkit-filter: grayscale(0);
        }
      
        .container2{
          position: relative;
          top: -10px;
          left: -10px;
          padding-right: 18.49px;  
      z-index: 1;
      width: 100%;
      height: 100vh;  
      visibility: inherit;
     background-image: url(./img/cyberstudiobg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     display: flex;
      }
      .bgblanc{
          background-color: rgb(255, 255, 255, 0.4);
          height: 100%;
          width: 100%;
          z-index: 2;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          display: grid;
          position: absolute;
          
      }
      
      .carreblanc{
          height: 70vh;
          width: 30%;
          background-color: rgb(255, 255, 255, 1);
          z-index: 4;
          left:35%;
          top: 15%;
          position:relative;
          border-radius:  15%;
      }
      .carreblanc h1{
          text-align: center;
          padding-top: 1%;
          color: black;
          font-weight: 800;
          font-size: 2vw;
      }
      .carreblanc p{
          text-align: center;
          padding-top: 1%;
          padding-left: 1%;
          padding-right: 1%;
          padding-bottom: 1%;
          font-size: 1.6vw;
      }
  .img1{
      position: absolute;
      top: 70%;
      left: 10%;
      z-index: 3;
      width: 20%;
      height: 20%;  
      visibility: inherit;
     background-image: url(./img/play2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     display: grid;
  
  }
  .img2{
  background-image: url(./img/teamtraining.png);
  height: 30%;
  width: 30%;
  position: absolute;
      top: 60%;
      left: 65%;
      z-index: 3;
      background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     display: grid;
  }
  .img3{
      background-image: url(./img/setupcoté.jpg);
      height: 20%;
  width: 20%;
  position: absolute;
      top: 20%;
      left: 75%;
      z-index: 3;
      background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     display: grid;
  }
  .img4{
      background-image: url(./img/teamssplit.JPG);
      height: 40%;
  width: 30%;
  position: absolute;
      top: 10%;
      left: 3%;
      z-index: 3;
      background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     display: grid;
  }
  .card{
    position: relative;
    background-color: #222b79;
  background-image: linear-gradient(90deg, #222b79 0%, #a352da 52%, #5f0918 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  top: -10px;
left: -10px;
padding-right: 18.49px;    
  }
  .offer .title{
    justify-items: center;
    justify-content: center;
  justify-self: center;
  }
 .offer .title h1{
  justify-content: center;
  text-align: center;
  font-size: 700;
 }
 .offer .title h2{
  justify-content: center;
  text-align: center;
  font-size: 2.8vh;
  font-weight: 100;
  padding-left: 5%;
 }
 .offer .title .separator2{
  display: inline-block;
      height: 2px;
      width: 50px;
      margin-bottom: 3px;
      position: relative;
      background-color: black;
      justify-content: center;
      left: 48%;
 }
 .card .setups .Starter{
display: block;
height: 50%;
width: 20%;
background-color: white;
position: absolute;
top: 35%;
left: 12%;
 }
 .card .setups .Starter img{
  width: 100%;
  height: 45%;
 }
 .card .setups .Starter h1{
  text-align: center;
  font-size: 2vw;
 }
 .card .setups .Starter p{
  text-align: center;
  font-size: 1.2vw;
 }
 .card .setups .Starter button{
  padding-bottom: 10%;
    height: 5%;
    width: 40%;
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    margin-left: 30%;
          margin-right: 30%;
 }
 .card .setups .Silver{
  display: block;
  height: 50%;
  width: 20%;
  background-color: white;
  position: absolute;
  top: 35%;
  left: 38%;
   
   }
   .card .setups .Silver img{
    width: 100%;
    height: 45%;
   }
   .card .setups .Silver h1{
    text-align: center;
    font-size: 2vw;
   }
   .card .setups .Silver p{
    text-align: center;
    font-size: 1.2vw;
   }
   .card .setups .Silver button{
    padding-bottom: 10%;
    height: 5%;
    width: 40%;
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    margin-left: 30%;
          margin-right: 30%;
   }

   .card .setups .Gold{
    display: block;
    height: 50%;
    width: 20%;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 65%;
     
     }
     .card .setups .Gold img{
      width: 100%;
      height: 45%;
     }
     .card .setups .Gold h1{
      text-align: center;
      font-size: 2vw;
     }
     .card .setups .Gold p{
      text-align: center;
      font-size: 1.2vw;
     }
     .card .setups .Gold button{
      padding-bottom: 10%;
    height: 5%;
    width: 40%;
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    margin-left: 30%;
          margin-right: 30%;
     }
      
     .addons {
      justify-items: center;
      justify-content: center;
    justify-self: center;
    position: relative;
  background-color: lightgrey;
  height: 100vh;
  width: 100%;
  display: flex;
  top: -10px;
left: -10px;
padding-right: 18.49px;   
    }
   .addons h1{
    justify-content: center;
    text-align: center;
    font-size: 700;
   }

   .addons .separator{
    display: inline-block;
        height: 2px;
        width: 50px;
        margin-bottom: 3px;
        position: relative;
        background-color: black;
        justify-content: center;
        top: 15%;
        right: 10%;
   }
    .addons .addons2 .descri{
    display: block;
    height: 60%;
    width: 20%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 12%;
     }
     .addons .addons2 .descri img{
      width: 100%;
      height: 45%;
     }
     .addons .addons2 .descri h1{
      text-align: center;
      font-size: 2vw;
     }
     .addons .addons2 .descri p{
      text-align: center;
      font-size: 1.2vw;
     }
     .addons .addons2 .descri button{
      padding-bottom: 10%;
    height: 5%;
    width: 40%;
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    margin-left: 30%;
          margin-right: 30%;
     }
     
     .addons .addons2 .descri1{
      display: block;
      height: 60%;
      width: 20%;
      background-color: white;
      position: absolute;
      top: 25%;
      left: 38%;
       
       }
       .addons .addons2 .descri1 img{
        width: 100%;
        height: 45%;
       }
       .addons .addons2 .descri1 h1{
        text-align: center;
        font-size: 2vw;
       }
       .addons .addons2 .descri1 p{
        text-align: center;
        font-size: 1.2vw;
       }
       .addons .addons2 .descri1 button{
        padding-bottom: 10%;
        height: 5%;
        width: 40%;
        background-color: #3c3c3c;
        color: white;
        text-align: center;
        border-radius: 5%;
        justify-content: center;
        margin-left: 30%;
          margin-right: 30%;
       }
     
    
       .addons .addons2 .descri2{
        display: block;
        height: 60%;
        width: 20%;
        background-color: white;
        position: absolute;
        top: 25%;
        left: 65%;
         
         }
         .addons .addons2 .descri2 img{
          width: 100%;
          height: 45%;
         }
         .addons .addons2 .descri2 h1{
          text-align: center;
          font-size: 2vw;
         }
         .addons .addons2 .descri2 p{
          text-align: center;
          font-size: 1.2vw;
         }
         .addons .addons2 .descri2 button{
          padding-bottom: 10%;
          height: 5%;
          width: 40%;
          background-color: #3c3c3c;
          color: white;
          text-align: center;
          border-radius: 5%;
          margin-left: 30%;
          margin-right: 30%;
         }
         .pricing{
          position: relative;
          background-color: #222b79;
        background-image: linear-gradient(90deg, #222b79 0%, #a352da 52%, #5f0918 100%);
        height: 100vh;
        width: 100%;
        display: flex;
        top: -10px;
      left: -10px;
      padding-right: 18.49px;    
      justify-items: center;
      justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    text-align: center;
    text-align: center;
         }
         .pricing h1{
          justify-content: center;
          text-align: center;
          font-size: 700;
         }
    .pricing .separator2{
      display: inline-block;
      height: 2px;
      width: 50px;
      margin-bottom: 3px;
      position: relative;
      background-color: black;
      justify-content: center;
      top: 15%;
      right: 18%;
    }
    .pricing .descri3{
      position: absolute;
      height: 75vh;
        width: 25vw;
        background-color: white;
        top: 15%;
        left: 8%;
        z-index: 10;
        display: inline-flex;
        justify-content: space-between;
        justify-items: center;
        justify-self: center;
        text-align: center;
    }
    .pricing .descri3 .separator3{
      display: inline-block;
      height: 2px;
      width: 50px;
      margin-bottom: 3px;
      position: relative;
      background-color: black;
      justify-content: center;
    }
    .pricing .descri3 p{
      font-size: 1.3vw;
    }
    .prices .color1{
      background-color: lightgrey;
    }
    
    .prices #hovercolor{
      background-color: white;
    }
    .prices #hovercolor1{
      background-color: lightgrey;
    }
    .prices #hovercolor:hover{
    background-color: rgb(74, 201, 190);
    width: 100%;
    
    }
    .prices #hovercolor1:hover{
      background-color: rgb(74, 201, 190);
      width: 100%;
      
      }
    
    .prices button{
    padding-bottom: 10%;
    height: 5%;
    width: 40%;
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    
    }
    .pricing .descri4{
      position: absolute;
      height: 75vh;
        width: 25vw;
        background-color: white;
        top: 15%;
        left: 36.5%;
        z-index: 10;
        display: inline-flex;
        justify-content: space-between;
        justify-items: center;
        justify-self: center;
        text-align: center;
    }
    .pricing .descri4 .separator3{
      display: inline-block;
      height: 2px;
      width: 50px;
      margin-bottom: 3px;
      position: relative;
      background-color: black;
      justify-content: center;
    }
    .pricing .descri4 p{
      font-size: 1.3vw;
    }
    .pricing .descri5{
      position: absolute;
      height: 75vh;
        width: 25vw;
        background-color: white;
        top: 15%;
        right: 10%;
        z-index: 10;
        display: inline-flex;
        justify-content: space-between;
        justify-items: center;
        justify-self: center;
        text-align: center;
    }
    .pricing .descri5 .separator3{
      display: inline-block;
      height: 2px;
      width: 50px;
      margin-bottom: 3px;
      position: relative;
      background-color: black;
      justify-content: center;
    }
    .pricing .descri5 p{
      font-size: 1.3vw;
    }
   .Formcalendar{
    position: relative;
    height: 100vh;
    background-color: white;
    width: 100%;
    display: flex;
    top: -10px;
  left: -10px;
  padding-right: 18.49px;   
   }
   .Formcalendar .left{
    float: left;
    width: 50%;
   }
   .Formcalendar .left h1,p{
    text-align: center;
   }
   .Formcalendar .left h1{
    font-size: 4vw;
   }
   .Formcalendar .left h2{
    left: 2%;
    position: relative;
    display: flex;
   }
   .Formcalendar .right{
    float: right;
    width: 50%;
    text-align: center;
   }
   input[type=text]{
    width: 35%;
    height: 30px;
    margin-bottom: 2%;
    margin-left: 5%;
   }
   select{
    height: 30px;
    right: 10%;
    width: 37%;
    position: relative;
    left: 10%;
    }
    .form-control{
      height: 50px;
      width: 70%;
      
      position: relative;
      left: 5%;
      
      }
      input[type=date]{
        width: 25%;
        height: 30px;
        margin-bottom: 2%;
        margin-left: 5%;
       }
       input[type=time]{
        width: 25%;
        height: 30px;
        margin-bottom: 2%;
        margin-left: 5%;
        position: relative;
        left: 12%;
       }
       input[type=submit]{
        height: 50px;
        width: 20%;
        margin-left: 10%;
        margin-top: 5%;
        position: relative;
        background-color: #404040;
        color: white;
        
        }
        .icons .box{
          height: 150px;
          width: 31%;
          display: inline-block;
          justify-content: space-evenly;
        
        }
        .icons .box .rond{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: whitesmoke;
          left: 35%;
          top: 10%;
          position: relative;
        }
        .icons .box .rond i{
          font-size: 20px;
          position: inherit;
          left: 33%;
          top: 30%;
        }
        .icons .box h3{
          text-align: center;
        }
        .icons .box p{
          text-align: center;
          font-size: 10px;
          font-weight: 800;
          
        }
        .Formcalendar .right iframe{
          width: 95%;
          height: 80vh;
        }
        .Formcalendar .right h1{
          font-size: 4vw;
          
        }

        .Formcalendar .right .logokbc img{
          width: 40%;
          height: 30%;
          position: relative;
          padding-bottom: 5%;
         
        }
        footer{
          position: fixed;
          text-align: center;
          background-color: #3c3c3c;
          height: 20px;
          width: 100%;
         bottom: 0;
         left: 0;
        justify-content: center;
        z-index: 10000;
     
        }
        footer span{
          color: white;
          padding-top: 10px;
        }
        .rightmobile{
          display: none;
        }
@media screen and (max-width:922px) {
  .card{
    position: relative;
    background-color: #222b79;
  background-image: linear-gradient(90deg, #222b79 0%, #a352da 52%, #5f0918 100%);
  height: 210vh;
  width: 100%;
  display: flex;
  top: -10px;
left: -10px;
padding-right: 18.49px;   
  }
  .card .setups .Starter{
    display: block;
    height: 55vh;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 17%;
    left: 25%;
   
     }
     .card .setups .Starter p{
      font-size: 1.5vw;
     }
     .card .setups .Starter button{
      font-size: 2vw;
     }
     .card .setups .Silver{
      display: block;
    height: 55vh;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 25%;
     }
     .card .setups .Silver button{
      font-size: 2vw;
     }
     .card .setups .Silver p{
      font-size: 1.5vw;
     }
     .card .setups .Gold{
      display: block;
    height: 55vh;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 73%;
    left: 25%;
     }
     .card .setups .Gold button{
      font-size: 2vw;
      position: relative;
      
     }
     .card .setups .Gold p{
      font-size: 1.5vw;
     }
     .addons {
      justify-items: center;
      justify-content: center;
    justify-self: center;
    position: relative;
  background-color: lightgrey;
  height: 200vh;
  width: 100%;
  display: flex;
  top: -10px;
left: -10px;
padding-right: 18.49px;   
    }
     .addons .addons2 .descri{
      display: block;
      height: 55vh;
      width: 50%;
      background-color: white;
      position: absolute;
      top: 7%;
      left: 25%;
       }
       .addons .addons2 .descri p{
        font-size: 1.7vw;
       }
       .addons .addons2 .descri1{
        display: block;
    height: 55vh;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 39%;
    left: 25%;
       }
       .addons .addons2 .descri1 p{
        font-size: 1.7vw;
       }
       .addons .addons2 .descri2{
        display: block;
    height: 55vh;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 25%;
       }
       .addons .addons2 .descri2 p{
        font-size: 1.7vw;
       }
       .pricing{
        position: relative;
        background-color: #222b79;
      background-image: linear-gradient(90deg, #222b79 0%, #a352da 52%, #5f0918 100%);
      height: 250vh;
      width: 100%;
      display: flex;
      top: -10px;
    left: -10px;
    padding-right: 18.49px;    
    justify-items: center;
    justify-content: center;
  justify-self: center;
       }
       .pricing .descri3{
        position: absolute;
        height: 70vh;
          width: 47vw;
          background-color: white;
          top: 7%;
          left: 26%;
          z-index: 10;
          display: inline-flex;
          justify-content: space-between;
          justify-items: center;
          justify-self: center;
          text-align: center;
          
}
.pricing .descri3 p{
  font-size: 1.7vw;
}
.pricing .descri4{
  position: absolute;
        height: 70vh;
          width: 47vw;
          background-color: white;
          top: 38%;
          left: 26%;
          z-index: 10;
          display: inline-flex;
          justify-content: space-between;
          justify-items: center;
          justify-self: center;
          text-align: center;
}
.pricing .descri4 p{
  font-size: 1.7vw;
}
.pricing .descri5{
  position: absolute;
  height: 70vh;
    width: 47vw;
    background-color: white;
    top: 69%;
    left: 26%;
    z-index: 10;
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    text-align: center;
}
.pricing .descri5 p{
  font-size: 1.7vw;
}


}